---
layout: simple
title: "Publications"
permalink: /publications/
---

{% include base_path %}

<header class="simple-list-heading">
  <h1>Publications</h1>
</header>

<section class="simple-publication-list">
  {% for post in site.publications reversed %}
    <article class="simple-publication">
      <h2><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></h2>
      <p class="simple-meta">{{ post.venue }} / {{ post.date | date: "%Y" }}</p>
      {% if post.excerpt %}<p>{{ post.excerpt }}</p>{% endif %}
      <div class="simple-publication__links">
        {% if post.paperurl %}<a href="{{ post.paperurl }}">DOI / Paper</a>{% endif %}
      </div>
    </article>
  {% endfor %}
</section>
